@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.container {
    display: flex;
}

.left {
    width: 23vw;
    padding: 10px;
}
.home{
    padding: 20px;
}
.home ul li{
    display: flex;
    width: 25px;
    list-style: none;
    gap: 20px;
    padding-top: 21px;
    font-weight: bold;
}
.library{
    margin-top: 10px;
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 21px;
    padding: 23px 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}
.heading img{
    width: 25px;
}
.footer{
    display: flex;
    font-size: 11px;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    padding: 30px;

}
.footer a{
    color: gray;
    text-decoration: none;
}
.right {
    width: 77vw;
    margin: 10px;
    
}
.header{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}
.header>*{
    padding: 10px;
}
.spotify-playlist{
    padding: 17px;
}
.card-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 200px;
    padding: 10px;
    position: relative;
    
}
.card:hover{
    background-color: #252525;
}
.card >*{
    padding-top: 6px;
}
.play{
    width: 35px; /* adjust as needed */
    height: 35px; /* adjust as needed */
    background-color: #1ed760;
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 240px;
    right: 18px;
    opacity: 0;
    transition: all 1s ease-out;
} 
.play img {
    width: 24px;
    height: 24px;
    padding-left: 3px;
    
}
.play:hover{
    opacity: 1;
    top: 165px;
}
  
.card img{
    width: 100%;
    object-fit: contain;
}
.button>* {
    margin: 0 12px;
}
.signbtn{
    background-color: rgb(34 34 34);
    border: none;
    color: rgb(156, 148, 148);
    font-size: 16px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.signbtn:hover{
    font-size: 17px;
    color: white;
}
.logbtn{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 20px;
    width: 75px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.logbtn:hover{
    font-size: 17px;
    font-weight: bold;
}
